<div class="container border">
    <div class="contenido">
        <div class="col-12">
            <div style="text-align:right "><strong>1/2</strong> </div>
            <h3 style="text-align:center ">Formulario de Autorización de viaje <br>
                                            Cancelación de viaje - Cambio de Fecha <br> Form 2</h3><br><br>
            
            
            <div class="grid">
                <div class="col-offset-3">
                    
                    <p-radioButton name="groupname" value="val1" label="Cancelación de viaje (ruta)" [(ngModel)]="selectedValue"></p-radioButton>
                </div>
                <div class="col-offset-3">
                    <p-radioButton name="groupname" value="Chicago" [(ngModel)]="selectedValue" inputId="city1" label="Cambio de fecha o ruta"></p-radioButton>
                </div>
            </div>
        </div>
    </div>
</div>

