<div class="container border">
    <div class="contenido">
        <div class="col-10">
            <div style="text-align:right "><strong>4/4</strong> </div>
            <h3 style="text-align:left ">Formulario de Autorización de viaje - Form 1</h3>
            <h5 >ANTECEDENTES Y OBJETIVOS DEL VIAJE: </h5> 
          
            <textarea [rows]="4" pInputTextarea autoResize="autoResize"></textarea>
            
            <h5 >CRONOGRAMA DE ACTIVIDADES:</h5> 
            <textarea [rows]="4"  pInputTextarea autoResize="autoResize"></textarea>

            <h5 >RESULTADOS ESPERADOS: </h5> 
            <textarea [rows]="4"  pInputTextarea autoResize="autoResize"></textarea>

            <br><br><br>
            <button pButton type="button" label="Siguiente" icon="pi pi-chevron-right" ></button>
            <span class="space"></span>

            <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-danger"></button>

        </div>
    </div>
</div>


