<div class="p-fluid grid  form-gen">
    <div class="field col-12 md:col-6">
        <label for="inputtext">InputText</label>
        <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
    </div>
    <div class="field col-12 md:col-6">
        <label for="inputtext">InputText</label>
        <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
    </div>
    <div class="field col-12">
        <label for="inputtext">InputText</label>
        <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
    </div>
    <div class="field col-12 md:col-6">
        <label for="inputtext">InputText</label>
        <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
    </div>
    <div class="field col-12 md:col-3">
        <label for="inputtext">InputText</label>
        <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
    </div>
    <div class="field col-12 md:col-3">
        <label for="inputtext">InputText</label>
        <input type="text" id="inputtext" pInputText [(ngModel)]="value1">
    </div>
    <div class="field col-12 md:col-3">
        <p-button label="Submit" (click)="confirm($event)"></p-button>
    </div>
    <div class="field col-12 md:col-3">
        <p-button label="archivo" (click)="documento()"></p-button>
    </div>
</div>