<div class="container border">
   
    <div class="contenido">
        
        <div class="col-8">
            <h2 style="text-align:center ">Formulario de Autorización de viaje - Form 1</h2>

            <form autocomplete="off"  [formGroup]='form1_uno' (ngSubmit)="guardar()">

                <div class="field col-12">
                    <H4>Objeto del viaje</H4>
                    <input type="text" pInputText 
                            style="width: 100%;"
                            formControlName="objeto"
                            placeholder="Objeto del viaje"
                            > 
                    <span class="form-text text-danger"
                    *ngIf="validarCampo('objeto')"
                    >Campo requerido</span>
                    <!-- <input type="text" pInputText [(ngModel)]="objeto">  -->
                </div>
 <!-- caja que aparecera solo cuando el solicitante sea consultor -->
 <div class="col-12">
    <label for="">
        <h4>Consultores</h4>
    </label>
    <div class="caja">
        <div class="grid">
            
            <div class="col-6 ">
                <h5>¿Presentaré FORM-110?</h5>
                <div class="field-radiobutton">
                    <p-radioButton inputId="si" formControlName="form110" value="val1"  checked></p-radioButton>
                    <label for="si">Si</label>
                </div>
                
                <div class="field-radiobutton">
                <p-radioButton inputId="no" formControlName="form110" value="val2"></p-radioButton>
                <label for="no">No</label>
               
                </div>
                <span class="form-text text-danger"
                *ngIf="validarCampo('form110')"
              >Selección requerida</span>
            </div>
            <div class="col-6">
                <h5>Fuente de financiamiento</h5>
                <input type="text" id="inputtext" 
                        pInputText 
                        maxlength="3" 
                        style='width:100%'
                        formControlName="fuente">
                        <span class="form-text text-danger"
                              *ngIf="validarCampo('fuente')"
                            >Debe especificar número de fuente de inversión</span>
            </div> 
                   
           

            <label class="notificacion"> En caso de presentar descargo de FORM-110 debe adjuntar al Formulario
                1.</label>
        </div>
    </div>
    
</div>
<!-- fin de caja  -->

 <!-- destino de viaje -->
 <div class="col-12">
    <h4>Destino de viaje</h4>
    <div class="caja" >
           <div class="formgrid grid">
            <div class="field col">
               
                    
                <div class="field-checkbox">
                    <p-checkbox formControlName="destino" value="IntraDepartamental" inputId="ny" ></p-checkbox>
                    <label for="ny"> Intra Departamental</label>
                </div>
                <div class="field-checkbox">
                    <p-checkbox formControlName="destino" value="Inter Departamental" inputId="sf"></p-checkbox>
                    <label for="sf"> Inter Departamental</label>
                </div>
            </div>
            <div class="field col">
                
                <div class="field-checkbox">
                    <p-checkbox formControlName="destino" value="Franja Frontera" inputId="la" ></p-checkbox>
                    <label for="la"> Franja Frontera</label>

               </div>
               <div class="field-checkbox">
                    <p-checkbox formControlName="destino" value="Internacional" inputId="ch"></p-checkbox>
                    <label for="ch"> Internacional</label>
                </div>

                
            </div>
            <span class="form-text text-danger"
                 *ngIf="validarCampo('destino')"
            >Debe seleccionar al menos un destino de viaje</span>
        </div> 
    </div>
</div>
<!-- fin de destino de viaje -->
                <br>
                <button pButton type="submit" label="Siguiente" 
                        icon="pi pi-chevron-right" 
                        
                        ></button>
                <span class="space"></span>

                <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-danger"></button>


            </form>

            </div>
    </div>
 </div>
