/* You can add global styles to this file, and also import other style files */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f8f9fa;
}
/* loader*/
.progress-spinner {
    position: fixed;
    z-index: 10001;
    height: 1px;
    width: 1px;
    overflow: show;
    margin-left: calc(50vw - 50px);
    margin-top: calc(50vh - 50px);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.p-blockui{
    z-index: 1 !important;
}
.txt-enlace{
    cursor: pointer;
}
.text-danger{
    color: #c92c2c;
    font-size: .7rem;
}

.ocultar{
    display: none !important;
}
.tabla-gen{
    .table-header {
        display: flex;
        justify-content: space-between;
        padding: 0rem;
        text-align: left;
        font-size: 1.5rem;
       
        .titulo-header{
            font-size: 1.2rem;
        }
        @media only screen and (max-width: 1025px) { 
            flex-direction: column;
            .titulo-header{
                display: none;
            }
            .input-search{
               width: 100%;
            }
            .button-filter{
                margin-bottom: 1rem;
            }
         }
    }
    .tabla-gen-p{
        padding: 0rem;
        margin: 0rem;
        
    }
    .p-txt-option span{
        padding: .25em .5rem;
    }
    .table-gen-select {
        margin-top: 1rem;
        width: 100%;
        .p-multiselect{
            width: 100%;
        }
    }
}

.tabla-card{
    .p-card .p-card-content{
        padding: 0px !important;
    }
}

.menu-table-gen{
    height: 45px !important;
    .p-speeddial-direction-right {
        margin-left: .8rem;
    }
    .p-speeddial-button.p-button.p-button-icon-only{
        width: 3rem !important;
        height: 3rem !important;
    }
    .p-speeddial-list{
        --item-diff-x: -2px !important;
    }
    .p-speeddial .p-component .p-speeddial-semi-circle .p-speeddial-direction-right{
        z-index: -100;
    }
    .p-speeddial-direction-up {
        &.speeddial-left {
            left: 0;
            bottom: 0;
        }

        &.speeddial-right {
            right: 0;
            bottom: 0;
        }
    }
}

.form-gen{
    .p-ayuda{
            margin-left: .4rem;
            padding-left: .4rem;
            height: 25px;
            width: 25px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            i{
                font-size: .8rem;
                cursor: pointer;
            }
    }
    .p-ayuda:hover{
            background-color: rgb(224, 224, 224);
            color: #607D8B;
    }
    .field{
        margin-bottom: 0rem;
        
    }
    [class*="col-"] {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .field > label{
        margin-bottom: 0.2rem;
    }
}

.ver-gen{
    label{
        font-weight: 500;
    }
    .p-skeleton{
        margin-top: .3rem;
    }
    span{
        margin-top: 1rem;
        display: block;
    }
}

.btn-100{
    button{
        width: 100% !important;
    }    
}

/*backgroud color*/
.bg-red-200{
    background: #ffcdd2;
}

.text-red-800{
    color: #c63737;
}

/*doc-gen-slider*/
.doc-gen-slider{
    .p-sidebar-header{
        background: #4d4d4d;
    }
    .p-sidebar-close{
        background: rgb(241, 241, 241) !important;
    }
    .p-sidebar-content{
        padding: 0px;
    }
    .p-sidebar{
        background: #4d4d4d;
    }

}